.footer-page{
  padding: 20px 30px;
  margin-top: 50px;
}

.footer-rap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-rap p{
  color: #596780;
  font-weight: 400;
}
.footer-dime{
  display: flex;
  flex-direction: column;
  margin-top:-150px;
  
}
.footer-dime-img{
  width: 200px;
  height: 70px;
  margin-left:-10px;
  margin-top: -10px;
 
}
.footer-product{
  display: flex;
  flex-direction: column; 
}
.footer-company{
  display: flex;
  flex-direction: column; 
}
.footer-resources{
  display: flex;
  flex-direction: column;
}
.footer-follow-us{
  display: flex;
  flex-direction: column;
}
.footer-terms-condition{
  display: flex;
  gap: 20px;
}
.footer-terms-condition p{
  color: #1A202C;
  font-weight: 600;
}