.SuccessStory--page{
  padding: 20px 70px;
}
.head--content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* margin-top: -5px; */
}
.center--button {
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.content--button{
  margin-top: -20px;
}
 .with--dime{
  background-color: #7D286D;
  border-radius: 20px;
  height: 30px;
  border-color: transparent;
  width: 100px;
  color: white;
  font-size: 12px;
}
 .with--dime:hover{
  cursor: pointer;
}
 .without--dime{
  background-color: #eef3f8;
  border-radius: 20px;
  height: 30px;
  border-color: transparent;
  width: 120px;
  font-size: 12px;
}
.success--content--wrap{
  display: flex;
  /* justify-content: space-between; */
  gap: 200px;
  align-items: center;
 
}
.inner--content{
  display: flex;
  align-items: center;
  gap: 15px;
}
.success--graph{
  display: flex;
  flex-direction: column;
}
.success--graph img{
  width: 400px;
  height: 380px;
}